body {
  font-weight: normal;
  font-feature-settings: "kern", "liga", "clig", "calt";
  font-family: "Libre Baskerville", serif;
  font-family: "Open Sans", sans-serif;
}

a:hover {
  text-decoration: underline;
}
